  /* ==========================================================================
  34. COLOR SCHEME
  ========================================================================== */ 

  .tra-menu .wsmainfull {
    background-color: transparent !important;
    box-shadow: none;
}
.bg--theme,
.shape--blue-400:after { 
  background-color: #1E3A8A; 
}

.btn--theme {
  color: #fff!important;
  border-color: #1E3A8A!important;
  background-color: #1E3A8A!important;
}

.hover--theme:hover,
.white-scroll .scroll .hover--theme:hover,
.black-scroll .scroll .hover--theme:hover {
  color: #fff!important;
  border-color: #DDA853!important;
  background-color: #DDA853!important;
}

.btn--tra-white.hover--theme:hover {
  color: #183B4E!important;
  border-color: #fff!important;
  background-color: #fff!important;
}

.theme--dark .white-scroll .scroll .hover--theme:hover {
  color: #fff!important;
  border-color: #DDA853!important;
  background-color: #DDA853!important;
}

.theme--dark .white-scroll .hover--theme:hover {
  color: #fff!important;
  border-color: #DDA853!important;
  background-color: #DDA853!important;
}

.color--theme, 
.color--theme h1, 
.color--theme h2, 
.color--theme h3, 
.color--theme h4, 
.color--theme h5, 
.color--theme h6, 
.color--theme p, 
.color--theme a, 
.color--theme li, 
.color--theme i, 
.color--theme span,
.color--white .color--theme { color: #1E3A8A!important; }

.loading--theme .loader { 
  border-color: transparent #1E3A8A; 
}

.loading--theme .loader::after {
  border-color: transparent rgba(22, 128, 251, .15); 
}

.nav-theme .sm-info { 
  background-color: #1E3A8A; 
}

.wsmenu > .wsmenu-list.nav-theme > li > ul.sub-menu > li > a:hover,
.wsmenu > .wsmenu-list.nav-theme > li > .wsmegamenu.w-75 ul.link-list > li > a:hover,
.wsmenu > .wsmenu-list.nav-theme > li > .wsmegamenu.halfmenu ul.link-list > li > a:hover {
  color: #1E3A8A!important;
}

.hero-section .quick-form .form-control:focus {
  border-color: #1E3A8A;
}

.cbox-2:hover .cbox-2-ico.bg--theme { 
  color: #1E3A8A; 
  border-color: #1E3A8A; 
}

.tabs-1.tabs--theme, 
.tabs-1.tabs--theme li.current:hover,
.faqs-section .tabs--theme .tabs-1 li.current,
.faqs-section .tabs--theme .tabs-1 li.current:hover { 
  color: #1E3A8A; 
  border-color: #1E3A8A; 
}

.faqs-section .tabs--theme .tabs-1 li.current,
.faqs-section .tabs--theme .tabs-1 li.current:hover {
  background-color: #1E3A8A;
  border-color: #1E3A8A!important;
}

.switch-wrap input:checked + .switcher.switcher--theme { 
  background-color: #1E3A8A; 
  border-color: #1E3A8A; 
}

.shape-ico.color--theme path,
.shape-ico.color--theme path,
.shape-ico.color--theme path {
  fill: #f4f9fc;
}

.newsletter-section .form-control:focus {
  background-color: #fff;
  border-color: #353f4f;
}

.theme-pagination .page-item.active .page-link {
  color: #fff!important;
  background-color: #1E3A8A;
  border: 2px solid #1E3A8A;
}